# Base de Datos 1: Autenticación
AUTH_DATABASE_URL="postgresql://neondb_owner:npg_ea6xmbcn1Ejp@ep-spring-lake-a4g07mjk-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Base de Datos 2: Ciclo y Carrera  
CICLO_CARRERA_DATABASE_URL="postgresql://neondb_owner:npg_HJvGXxR2LA3B@ep-polished-violet-a44iujcm-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Base de Datos 3: Profesores y Especialidad
PROFESORES_DATABASE_URL="postgresql://neondb_owner:npg_z1frsgQBuP9K@ep-noisy-butterfly-a44dy8yf-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Configuration
JWT_SECRET="tu-secreto-super-seguro-cambiar-en-produccion"
JWT_EXPIRES_IN="7d"
